@page "/admin/users/edit"
@rendermode InteractiveServer
@using BlogCenter.Services.User
@using BlogCenter.WebAPI.Dtos.Constant
@using BlogCenter.WebAPI.Dtos.RequestDto
@using BlogCenter.WebAPI.Dtos.Mapper
@using static BlogCenter.WebAPI.Dtos.Enums.Enums
@using static BlogCenter.WebAPI.Dtos.ResponceDto.UserDto
@using static BlogCenter.WebAPI.Dtos.ResponceDto.UserDto
@inject ISnackbar Snackbar
@inject IUserClientService _clientService
@inject NavigationManager _navigationManager

<div class=" container">
    <div class="d-flex justify-content-between align-items-center my-4">
        <MudText Typo="Typo.h5" Class="fw-bold">Edit User</MudText>
        <MudButton Class="mx-1" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Primary" OnClick=NavigateToUserList>Back</MudButton>
    </div>
    <EditForm Model="@updateUserDto" OnValidSubmit="UpdateUser">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
                <MudCard>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                            <MudCardContent>
                                <MudTextField Label="First name" HelperText="Max. 50 characters" Variant="Variant.Outlined"
                                              @bind-Value="updateUserDto.FirstName" For="@(() => updateUserDto.FirstName)" />
                            </MudCardContent>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                            <MudCardContent>
                                <MudTextField Label="Last name" HelperText="Max. 50 characters" Variant="Variant.Outlined"
                                              @bind-Value="updateUserDto.LastName" For="@(() => updateUserDto.LastName)" />
                            </MudCardContent>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                            <MudCardContent>
                                <MudTextField Label="Profile Name" HelperText="Max. 50 characters" Variant="Variant.Outlined"
                                              @bind-Value="updateUserDto.ProfileName" For="@(() => updateUserDto.ProfileName)" />
                            </MudCardContent>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                            <MudCardContent>
                                <MudTextField Label="Email" HelperText="Max. 50 characters" Variant="Variant.Outlined"
                                              @bind-Value="updateUserDto.Email" For="@(() => updateUserDto.Email)" />
                            </MudCardContent>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                            <MudCardContent>
                                <MudTextField Label="Password " HelperText="Max. 50 characters" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtonTestclick" AdornmentAriaLabel="Show Password"
                                              @bind-Value="updateUserDto.Password" For="@(() => updateUserDto.Password)" />
                            </MudCardContent>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                            <MudCardContent>    
                                <MudSelect Label="Select an status" @bind-Value="updateUserDto.Status" Variant="Variant.Outlined">
                                    @foreach (var status in Enum.GetValues(typeof(UserStatus)).Cast<UserStatus>())
                                    {
                                        <MudSelectItem Value="(short)status" Selected="status == updateUserDto.Status" Disabled="updateUserDto.Status==(short)status">
                                            @status.ToString()
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            </MudCardContent>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-12">
                            <MudCardContent>
                                <MudSelect Label="Select an role" @bind-Value="updateUserDto.RoleId" Variant="Variant.Outlined">
                                    @foreach (var role in Enum.GetValues(typeof(RolesList)).Cast<RolesList>())
                                    {
                                        <MudSelectItem Value="(int)role" Selected="role == updateUserDto.RoleId" Disabled="updateUserDto.RoleId==(int)role">
                                            @role.ToString()
                                        </MudSelectItem>
                                    }
                                </MudSelect>
                            </MudCardContent>
                        </div>
                    </div>
                    <MudCardActions>
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Submit</MudButton>
                    </MudCardActions>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "userId")]
    public int? userId { get; set; }
    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    protected UpdateUserDto updateUserDto = new();
    protected GetUserDto userDto = new();
    protected async override Task OnInitializedAsync()
    {
        userDto = await _clientService.GetUserById((int)userId);
        updateUserDto = userDto.ToUpdateUserDto();
    }
    void ButtonTestclick()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
    public async Task UpdateUser()
    {
        // updateUserDto = userDto.ToUpdateUserDto();
        Dictionary<bool, string> isAdded = await _clientService.UpdateUser(updateUserDto);

        if (isAdded.FirstOrDefault().Key)
        {
            Snackbar.Add(isAdded.FirstOrDefault().Value, Severity.Success, c => c.SnackbarVariant = Variant.Filled);
            _navigationManager.NavigateTo(Constants.NAVIGATE_TO_USERLIST_URL);
        }
        else if (isAdded.FirstOrDefault().Value == Constants.USER_EXISTS_ERROR)
        {
            Snackbar.Add(isAdded.FirstOrDefault().Value, Severity.Error, c => c.SnackbarVariant = Variant.Filled);
        }
        else
        {
            Snackbar.Add(isAdded.FirstOrDefault().Value, Severity.Error, c => c.SnackbarVariant = Variant.Filled);
        }
    }

    public void NavigateToUserList()
    {
        _navigationManager.NavigateTo(Constants.NAVIGATE_TO_USERLIST_URL);
    }
}
